.footer {
  .footer__b780 {
    display: inline-flex;
    position: relative;
    margin-top: 100px;
    left: 0;
    cursor: pointer;
    height: min-content;

    .footer__b__b759 {
      margin-right: 21px;

      .footer__b__b__b700 {
        font-family: Electrical;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        font-size: 60px;
        line-height: 69px;
        letter-spacing: 0.2em;
      }
    }
    .footer__b__b892 {
      text-align: left;
      position: relative;
      top: 12.5px;
      height: 100%;
      width: 260px;
      
      .footer__b__b__b397 {
        font-family: Dhurjati;
        margin: 0;
        align-items: center;
        display: flex;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 80%;
      }
      .footer__b__b__b256 {
        background-color: transparent;
      }
    }
  }
  .footer__b538 {
    display: inline-flex;

    .footer__b__b141 {
      max-width: 451px;
    }
    .footer__b__b340 {
      margin-left: 50px;
      width: 114px;
      text-align: left;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.03em;

      .footer__b__b__b256 {
        margin-top: 14px;
      }
    }
    .footer__b__b160 {
      margin-left: 413px;
    }
  }
  .footer__b803 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    
    .footer__b__b187 {
      width: 400px;
    }
  }
  .footer__b798 {
    text-align: left;

    .footer__b__b874 {
      font-size: 14px;
      line-height: 11px;
      letter-spacing: -0.03em;
      margin-bottom: 10px;
    }
  }
}