.App {
  display: grid;
  grid-template-columns: repeat(1,1fr [col-start]);
  grid-template-rows: 70px auto 917px;
  grid-template-areas:
    "header"
    "body"
    "footer";
  
  .header {
    grid-area: header;
  }
  
  .home {
    display: grid;
    grid-area: body;
    grid-template-columns: repeat(1,1fr [col-start]);
    grid-template-rows: auto auto auto 571px;
    grid-template-areas:
        "intro"
        "paths"
        "expectations"
        "reviews";
    .home__b491 {
      grid-area: intro;
    }

    .home__b383 {
      grid-area: paths;
    }

    .home__b226 {
      grid-area: expectations;
    }

    .home_b808 {
      grid-area: reviews;
    }
  }
  
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(1,1fr [col-start]);
    grid-template-rows: 259px auto auto auto;
    grid-template-areas:
      "footer_logo"
      "footer_body"
      "footer_truck"
      "footer_copy";

      .footer__b780 {
        grid-area: footer_logo;
      }
      .footer__b538 {
        grid-area: footer_body;
      }
      .footer__b803 {
        grid-area: footer_truck;
      }
      .footer__b798 {
        grid-area: footer_copy;
      }
  }

}

