.header {
  display: inline-flex;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  margin-left: -130px;
  padding: 0 130px;
  background-color: #FAFAFA;

  .header__b567 {
    display: inline-flex;
    position: relative;
    left: 0;
    cursor: pointer;

    .header__b__b269 {
      margin-right: 18px;

      .header__b__b--i681 {
        font-family: Electrical;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        margin: 0;
        line-height: 70px;
        letter-spacing: 0.2em;
      }
    }

    .header__b__b431 {
      text-align: left;
      position: relative;
      top: 24px;
      height: 100%;
      width: 140px;

      .header__b__b--i633 {
        font-family: Dhurjati;
        margin: 0;
        align-items: center;
        display: flex;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 80%;
      }
    }
  }

  .header__b284 {
    display: inline-flex;
    position: absolute;
    right: 130px;
    gap: 20px;
    align-items: center;
    height: 70px;
  }

  .header__b284 > p{
  font-family: OpenSans;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  }
}

.header.active {
  background-color: #1E1E1E;
  color: #FAFAFA;
}