/* sourced from https://fonts.google.com/specimen/Open+Sans */
@font-face {
  font-family: "OpenSans";
  src: url("./assets/OpenSans/OpenSans-Regular.ttf");
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1,1fr [col-start]);
  grid-template-rows: 70px auto 917px;
  grid-template-areas:
      "header"
      "body"
      "footer";
  font-family: OpenSans;
  padding: 0 130px;
}