.home {

  .home__b491 {

    .home__b491 > h2{
      width: 680px;
      height: 54px;
      font-family: OpenSansBold;
      margin-top: 87px;
      text-align: left;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 54px;
      letter-spacing: -0.03em;
    }

    .home__b491 > :nth-child(2) {
      width: 700px;
      height: 77px;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;
      letter-spacing: -0.03em;
      text-align: left;
    }

    .home__b__b516 {
      width: 457px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;

      .home__b__b--i900 {
        text-align: left;
      }

      .home__b__b__b912 {
        height: 56px;

        .home__b__b__b--i582 {
          width: 239px;
          height: 54px;
          border: none;
          padding: 0;
          padding-left: 17px;
          border-left: 1px solid #c2c2c2;
          border-top: 1px solid #c2c2c2;
          border-bottom: 1px solid #c2c2c2;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
          background-color: #EDEDED;
          font-weight: 100;
        }

        .home__b__b__b--i368 {
          width: 200px;
          height: 56px;
          padding: 0;
          border: none;
          border-right: 1px solid #1E1E1E;
          border-top: 1px solid #1E1E1E;
          border-bottom: 1px solid #1E1E1E;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          background-color: #1E1E1E; 
          color: #FAFAFA;
        }

        .home__b__b__b--i--i440 {
          height: 11px;
          width: 16px;
          margin-bottom: -1px;
          margin-left: 7px;
        }
      }
    }
  }
$width: 62.5%;

  .home__b383 {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 1192px;

    .home__b__b746 {
      position: relative;
      width: $width;
      height: $width / 2.0971687125;
      max-width: 736px;
      border-radius: 4px;

      .home__b__b--i416 {
        position: relative;
        top: -125%;
        left: -40px;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: -0.03em;
        text-align: right;
        color: #1E1E1E;
        letter-spacing: -0.03em;
        font-family: OpenSansBold;
        width: 140px;
        margin-left: 61%;
        line-height: 80%;
      }

      .home__b__b--i478 {
        position: relative;
      }
    }

    .home__b__b746:hover {
      transform: translateY(-30px);
    }

    .home__b__b198 {
      position: relative;
      width: $width;
      height: $width / 2.0971687125;
      max-width: 736px;
      top: -29.8%;
      left: 37.4%;
      border-radius: 4px;

      .home__b__b--i785 {
        position: relative;
        top: -125%;
        left: -40px;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: -0.03em;
        text-align: right;
        color: #FAFAFA;
        font-family: OpenSansBold;
      }

      .home__b__b--i618 {
        position: relative;
      }
    }

    .home__b__b198:hover {
      transform: translateY(30px);
    }

    .path-active {
      opacity: 0.5;
    }
  }

  .home__b226 {
    background-color: green;
  }

  .home_b808 {
    background-color: orange;
  }
}

